.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    // padding-bottom: 50px;

    .stats_div {
        // position: absolute;
        z-index: 2;
        color: black;
        display: flex;
        flex-direction: row;
        gap: 50px;

        .stats {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: left;
            gap: 20px;

            svg {
                font-size: 40px;
                color: #fe6b00;
            }

            h1 {
                font-size: 18px;
            }

            p {
                margin-top: 5px;
                font-size: 15px;
                font-weight: 450;
                color: gray;
            }
        }
    }

    hr {
        width: 100%;
        margin-top: 30px;
        border: none;
        height: 2px;
        background: #eaeaea;
    }
}

@media (max-width: 800px) {
    .stats .stats_div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: flex-start;
    }
}

@media (max-width: 600px) {
    .stats .stats_div .stats {
        width: 100%;
        height: 100%;
        svg {
            font-size: 30px;
        }

        h1 {
            font-size: 16px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media (max-width: 500px) {
    .stats .stats_div {
        grid-template-columns: repeat(1, 1fr);
    }

    .stats .stats_div .stats {
        align-items: center;
        justify-content: flex-start;
    }
}