.aboutus-hero {
    position: relative;
    width: 100vw; /* Full width of the viewport */
    height: 70vh; /* Full height of the viewport */
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center; /* Align content to the top */
    justify-content: center;
    overflow: hidden; /* Ensure no content spills outside */
    margin-bottom: 100px;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1; /* Overlay stays above the image */
    }

    .hero-banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw; /* Full width of the viewport */
        height: 70vh; /* Maintain aspect ratio */
        object-fit: cover; /* Ensures the image covers the container */
        z-index: -1; /* Push the image behind the overlay */
    }

    .hero-content {
        position: absolute;
        bottom: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 50px;
        top: 50px ;

        .hero-details {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: white;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            color: black;
            z-index: 1;
            padding: 30px;
            gap: 30px;
            // height: auto;
    
            img {
                width: 100px;
            }
        }

        .hero-stats {
            width: 40%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 30px;
            color: white;
            z-index: 2;
            margin-bottom: 50px;

            .stats {
                display: flex;
                flex-direction: column;
                // align-items: left;
                // text-align: left;
                // justify-content: left;
            }

            h2 {
                color: #fe6b00;
                font-size: 30px;
            }
        }
    }
}

@media(max-width : 1100px) {
    .aboutus-hero .hero-content .hero-details img {
        display: none;
    }
}

@media(max-width : 900px) {
    .aboutus-hero .hero-content {
        margin-top: 100px;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;

        .hero-details {
            width: 100%;
        }

        .hero-stats {
            width: 100%;
        }
    }
}

@media(max-width : 700px) {
    .aboutus-hero .hero-content {
        gap: 20px;
    }
}

@media(max-width : 550px) {
    .aboutus-hero .hero-content {
        .hero-details p span {
            display: none;
        }
    }
}

@media(max-width : 500px) {
    .aboutus-hero .hero-content .hero-stats {
        gap: 10px;
    }
}

@media(max-width : 450px) {
    .aboutus-hero .hero-content {
        .hero-details {
            p {
                font-size: 14px;
            }
        }
        .hero-stats {
            padding: 20px;

            h2 {
                font-size: 25px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

// @media(max-width : 1750px) {
//     .aboutus-hero {
//         height: 800px;
//     }
// }

// @media(max-width : 1550px) {
//     .aboutus-hero {
//         height: 80vh;
//     }
// }