.user-profile-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .user-profile-section {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        .form-table {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            .same-line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
            }
    
            .form-group {
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: start;
                width: 100%;
    
                .form-control {
                    padding: 8px 30px 8px 10px;
                    outline: none;
                    appearance: none;
                    border: none;
                    display: flex;
                    text-align: left;
                    justify-content: flex-start;
                    // width: 300px;
                    background: #eaeaea;
                    border: 2px solid #eaeaea;
                }
    
                .form-control:hover {
                    background: #fff;
                    border: 2px solid #eaeaea;
                }
    
                .form-control::placeholder {
                    display: flex;
                    text-align: left;
                    align-items: left;
                    font-style: italic;
                }
            }
    
            .save-btn {
                margin-top: 10px;
                display: block;
                // justify-content: flex-end;
                width: 100px;
                padding: 10px 5px 10px;
                background: #fe6b00;
                color: white;
                border: none;
                font-weight: 700;
                font-size: 15px;
                cursor: pointer;
                border-radius: 5px;
                // margin-left: auto;
                margin-right: auto;
            }
    
            .save-btn:hover {
                background: #ddcc92;
                color: black;
            }
        }
    }


}