.navbar {
    // position: absolute;
    width: 100%;
    z-index: 10;
    .navbar_top {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(to right, #fe6b00 50%, #333 50%);
        color: #fff;
        padding-left: 100px !important;
        padding-right: 100px !important;
        padding: 7px 100px 7px;
        // z-index: 0;

        // ul {
        //     // width: 400px;
        //     display: flex;
        //     gap: 20px;
        //     align-items: center;
        //     text-align: center;
        //     font-size: 15px;
        // }

        .text_slogan {
            position: absolute; /* Allow precise positioning in the center */
            left: 50%;
            transform: translateX(-50%); /* Center horizontally */
            padding: 12px 50px 12px;
            background-color: #fafafa;
            color: #999;
            text-align: center;
            clip-path: polygon(25px 0%, calc(100% - 25px) 0%, 100% 100%, 0% 100%);
            // filter: drop-shadow(5px 4px 10px rgba(0, 0, 0, 1));
            
            h1 {
                font-size: 11px;
                text-transform: uppercase;
            }
        }

        .left_ul {
            justify-content: left;
            font-size: 14px;
            font-weight: 700;

            ul {
                display: flex;
                gap: 20px;
                cursor: pointer;

                .contact-us {
                    color: #ebebeb;
                    font-weight: 500;
                }

                .contact-us:hover {
                    color: #fff;
                }
            }
        }

        .right_ul {
            justify-content: right;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            font-weight: 500;
            color: #999;
            cursor: pointer;

            span {
                color: #fff;
                font-weight: 700;
            }

            img {
                width: 20px;
            }
        }

        .right_ul:hover {
            color: #fff;
        }
    }

    .navbar_middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 100px !important;
        padding-right: 100px !important;
        padding: 22px;
        // padding-bottom: 30px !important;
        // border-bottom: 2px solid white;
        color: black;
        background: #fafafa;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);

        .menubar {
            display: flex;
            gap: 20px;
            align-items: center;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;

            li:hover {
                color: #fe6b00;
            }

            .active {
                color: #fe6b00;
            }
        }


        .logo {
            position: absolute;
            left: 50%;
            // top: 50px;
            transform: translateX(-50%);

            h1 {
                font-size: 40px;
                margin-top: -30px;
                color: #333;

                span {
                    font-size: 50px;
                    color: #fe6b00;
                }
            }
    
            // img {
            //     width: 60px;
            // }
        }

        .acc_details {
            display: flex;
            gap: 20px;
            font-size: 18px;
            font-weight: 500;
            align-items: center;

                li {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;
                }

                .login_div {
                    display: flex;

                    .login {
                        display: flex;
                        flex-direction: column;

                        span {
                            font-size: 12px;
                        }
                    }
                    svg {
                        font-size: 30px;
                    }
                }

                li:hover {
                    color: #fe6b00;
                }

                .login-dashboard {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    top: 100px;
                    // left: 0;
                    background-color: white;
                    padding: 30px 30px 30px;
                    list-style: none;
                    // border-radius: 5px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    // margin-left: -70px;
                    z-index: 10;

                    h1 {
                        font-size: 18px;
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        margin-top: 30px;
                        gap: 10px;

                        input {
                            padding: 8px 30px 8px;
                            outline: none;
                            appearance: none;
                            border: 1px solid black;
                        }

                        input:hover {
                            background: #eaeaea;
                        }

                        .from-errors {
                            color: red;
                            // margin-top: 0px;
                            font-size: 12px;
                        }

                        .login-btn {
                            margin-top: 10px;
                            display: block;
                            // justify-content: flex-end;
                            width: 100px;
                            padding: 10px 5px 10px;
                            background: #fe6b00;
                            color: white;
                            border: none;
                            font-weight: 700;
                            font-size: 15px;
                            cursor: pointer;
                            border-radius: 5px;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        .login-btn:hover {
                            background: #ddcc92;
                            color: black;
                        }
                    }

                    p {
                        margin-top: 30px;
                        font-size: 14px;

                        a {
                            text-decoration: underline;
                        }

                        a:hover {
                            color: #fe6b00;
                        }
                    }
                }

                .user-dashboard {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top: 100px;
                    right: 100px;
                    background-color: white;
                    padding: 15px 0px 15px;
                    list-style: none;
                    // border-radius: 5px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    // margin-left: -70px;
                    z-index: 10;
                    width: 300px;

                    .hr-dashboard {
                        margin-top: 10px;
                        padding-left: 0px;
                        padding-right: 0px;
                        // background: #e0e0e0;
                        border: .5px solid #e0e0e0;
                        width: 100%;
                        height: 1px;
                    }

                    .top {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding-right: 15px;
                        padding-left: 15px;
                        // border-bottom: 1px solid gray;
                        // padding-bottom: 10px;
                    }
                    img {
                        border-radius: 50%;
                        width: 50px;
                    }
                    h1 {
                        font-size: 16px;

                        span {
                            font-size: 14px;
                            color: #4d4d4d;
                            font-weight: 400;
                        }
                    }

                    .details {
                        margin-top: 20px;
                        text-align: left;
                        align-items: left;
                        // border-bottom: 1px solid gray;
                        // padding-bottom: 10px;
                        padding-right: 15px;
                        padding-left: 15px;

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                            li {
                                font-size: 16px;
                            }
                        }
                    }

                    .button-div {
                        padding-right: 15px;
                        padding-left: 15px;

                        .logout-btn {
                            margin-top: 20px;
                            display: block;
                            // justify-content: flex-end;
                            width: 100px;
                            padding: 10px 5px 10px;
                            background: #fe6b00;
                            color: white;
                            border: none;
                            font-weight: 700;
                            font-size: 15px;
                            cursor: pointer;
                            border-radius: 5px;
                            // margin-left: auto;
                            // margin-right: auto;
                        }
    
                        .logout-btn:hover {
                            background: #ddcc92;
                            color: black;
                        }
                    }
                }
            }
        }

    .navbar_bottom {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: #fafafa;
        width: 480px;
        // color: gray;
        align-items: center;
        justify-content: center;
        text-align: center;
        // padding: 4px;
        text-transform: uppercase;
        clip-path: polygon(0% 0%, 100% 0%, calc(100% - 23px) 100%, 23px 100%);
        z-index: 2;
        font-weight: 700;
        margin-top: -15px;
        border-bottom: 2px solid rgb(224, 224, 224, .5);

        .serach_game {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #999;
            // padding-left: 15px;
            // padding-right: 15px;
            // gap: 10px;

            input {
                background-color: transparent;
                border: none;
                font-size: 16px;
                font-weight: 500;
                width: 100%;
                margin-left: -5px;
                margin-right: -5px;
                margin-bottom: 0px;
                padding-top: 6px;
                padding-bottom: 6px;
                clip-path: polygon(0% 0%, 100% 0%, calc(100% - 18px) 100%, 18px 100%);
                outline: none; /* Removes the blue focus box */
                appearance: none; 
                -moz-appearance: none; 
                -webkit-appearance: none;
                text-align: center; /* Centers the text and placeholder horizontally */
                vertical-align: middle; /* Aligns placeholder vertically (for certain cases) */
                line-height: normal;
                // border-left: solid 2px #e0e0e0;
                border-radius: 5px;
                // font-weight: 500;
            }

            input::placeholder {
                color: #999;
            }

            input:hover {
                background: #e0e0e0;
            }

            .icon-div {

                display: flex;
                align-items: center;
                // gap: 20px;

                .hr-left {
                    height: 37px;
                    background: #e0e0e0;
                    width: 3px;
                    border: none;
                    margin-left: -6px;
                    margin-bottom: 0px;
                    transform: rotate(-30deg);
                    clip-path: polygon(0% 0%, calc(100% - 50px) 0%, 100% 100%, 50px 100%);
                }

                .hr-right {
                    height: 37px;
                    background: #e0e0e0;
                    width: 3px;
                    border: none;
                    margin-right: -6px;
                    margin-bottom: 0px;
                    transform: rotate(30deg);
                    clip-path: polygon(50px 0%, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
                }

                .icon-left {
                    // padding-left: 30px;
                    // padding-right: 30px;
                    clip-path: polygon(0% 0%, calc(100% - 18px) 0%, 100% 100%, 18px 100%);
                    cursor: pointer;
                    margin-left: 8px;
                    margin-right: 2px;
                    // margin-bottom: 3px;
                    padding-top: 4px;
                    padding-bottom: 0px;
                    padding-left: 30px;
                    padding-right: 30px;
                    border-radius: 5px;
                }

                .icon-right {
                    // padding: 4px 30px;
                    clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
                    cursor: pointer;
                    margin-right: 8px;
                    margin-left: 2px;
                    // margin-bottom: 3px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 30px;
                    padding-right: 30px;
                    border-radius: 5px;
                }

                .icon-left:hover, .icon-right:hover {
                    background: #e0e0e0;
                }
            }
        }

        // .serach_game:hover {
        //     color: black;
        //     // cursor: pointer;
        // }

        // .serach_game:hover ::placeholder {
        //     color: black;
        //     // cursor: pointer;
        // }
    }

    .search-dashboard {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 135px; /* Positions below the navbar */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        width: 435px;
        padding: 20px;
        background: #fafafa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        z-index: 1000;

        p {
            font-size: 16px;
            color: #4d4d4d;
            font-weight: 400;
        }

        .radio-container {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            label {
                padding: 15px;
                width: 100%;
                border: 1px solid #e0e0e0;
                display: flex;
                align-items: center;
                font-weight: 500;
    
                input[type="radio"] {
                    display: none; /* Hide the default radio button */
                  }
                  
                  .custom-radio {
                    margin-right: 10px;
                    width: 15px;
                    height: 15px;
                    border: 2px solid #e0e0e0;
                    border-radius: 50%;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                  }
                  
                  .custom-radio::after {
                    content: '';
                    width: 7px;
                    height: 7px;
                    background-color: transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: background-color 0.2s ease;
                  }
                  
                  input[type="radio"]:checked + .custom-radio {
                    border-color: #ff5733;
                  }
                  
                  input[type="radio"]:checked + .custom-radio::after {
                    background-color: #ff5733;
                  }
              }
        }

        .search-button-div {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            .search-btn {
                display: block;
                // justify-content: flex-end;
                width: 100px;
                padding: 10px 5px 10px;
                background: #fe6b00;
                color: white;
                border: none;
                font-weight: 700;
                font-size: 15px;
                cursor: pointer;
                border-radius: 5px;
                // margin-right: auto;
            }
    
            .search-btn:hover {
                background: #ddcc92;
                color: black;
            }
        }

        // ul {
        //     margin-top: 20px;
        //     display: flex;
        //     flex-direction: column;
        //     gap: 10px;
        //     align-items: center;

        //     li {
        //         padding: 15px;
        //         width: 100%;
        //         border: 1px solid #e0e0e0;
        //         display: flex;
        //         align-items: center;
        //         font-weight: 500;

        //         input[type="radio"] {
        //             margin-right: 10px;
        //             appearance: none; /* Removes default styling */
        //             width: 17px;
        //             height: 17px;
        //             border: 1px solid #e0e0e0;
        //             border-radius: 50%; /* Makes it circular */
        //             outline: none;
        //             cursor: pointer;
        //             background-color: #fafafa;
        //         }

        //         input[type="radio"]:checked {
        //             background-color: #ff5733; /* Fill color for checked state */
        //             border: 2px solid #ff5733;
        //         }
        //      }
        // }
    }
}