.featuredClubsBars {
    padding-top: 50px;
    padding-bottom: 50px;

    .featuredClubsBars-section {
        display: flex;
        flex-direction: column;

        .featuredClubsBars-content {
            margin-top: 30px;
            display: flex;
            gap: 30px;
            align-items: center;

            .left {
                width: 50%;

                .featuredClubsBars-image {
                    cursor: pointer;

                    img {
                        width: 100%;
                    }
                }

                .featuredClubsBars-details {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    gap: 100px;
                    margin-right: 50px;
                    margin-top: -50px;

                    .btn-style {
                        margin-top: 30px;
                    }

                    .details {
                        background: white;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                        padding: 30px;

                        h1 {
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }

                        p {
                            margin-top: 20px;
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                width: 50%;
                gap: 20px;

                .featuredClubsBars-content1 {
                    display: flex;
                    align-items: center;
                    background: white;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    gap: 30px;
                    cursor: pointer;
                    height: 300px;
                    width: 100%;
                    overflow: hidden;

                    .featuredClubsBars-image {
                        display: flex;
                        // flex-direction: column;
                        align-items: stretch;
                        width: 50%;
                        height: 300px;
                        padding-bottom: 0px;
                        margin-bottom: 0px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .details {
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        justify-content: center;
                        width: 50%;
                        height: 100%;
                        padding: 30px;

                        h1 {
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }

                        p {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}