.featuredClubsBars {
    padding-top: 50px;
    padding-bottom: 50px;

    .featuredClubsBars-section {
        display: flex;
        flex-direction: column;

        .featuredClubsBars-content {
            margin-top: 30px;
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;

            .left {
                width: 50%;

                .featuredClubsBars-image {
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        max-height: 500px;
                        object-fit: cover;
                    }
                }

                .featuredClubsBars-details {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    gap: 50px;
                    margin-right: 0px;
                    margin-top: -50px;

                    .btn-style {
                        margin-top: 50px;
                    }

                    .details {
                        background: white;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                        padding: 30px;

                        h1 {
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }

                        p {
                            margin-top: 20px;
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                width: 50%;
                gap: 20px;

                .featuredClubsBars-content1 {
                    display: flex;
                    align-items: center;
                    background: white;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    gap: 30px;
                    cursor: pointer;
                    height: 300px;
                    width: 100%;
                    overflow: hidden;

                    .featuredClubsBars-image {
                        display: flex;
                        // flex-direction: column;
                        align-items: stretch;
                        width: 50%;
                        height: 300px;
                        padding-bottom: 0px;
                        margin-bottom: 0px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .details {
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        justify-content: center;
                        width: 50%;
                        height: 100%;
                        padding: 30px;

                        h1 {
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }

                        p {
                            margin-top: 20px;
                        }
                    }
                }

                .featuredClubsBars-content1.none {
                    display: none;
                }
            }

            .right.none {
                width: 100%;
                display: none;
            }
        }
    }
}

@media (max-width: 1300px) {
    .featuredClubsBars .featuredClubsBars-section .featuredClubsBars-content .left .featuredClubsBars-details {
        gap: 20px;
    }
}

@media (max-width: 1300px) {
    .featuredClubsBars .featuredClubsBars-section .featuredClubsBars-content {
        flex-direction: column;

        .left {
            width: 100%;

            .featuredClubsBars-details 
                .details {
                    // padding: 20px;

                    p {
                        font-size: 16px;
                }
            }
        }

        .right {
            width: 100%;

            .featuredClubsBars-content1 {
                height: 250px;
            }
        }
    }
}

@media (max-width: 700px) {
    .featuredClubsBars .featuredClubsBars-section .featuredClubsBars-content .left .featuredClubsBars-details { 
        margin-right: 20px;
        margin-top: -100px;

        .btn-style {
            display: none;
        }
        .details {
            padding: 20px 30px;
        }
    }

    .featuredClubsBars .featuredClubsBars-section .featuredClubsBars-content .right {
        .featuredClubsBars-content1 { 
            gap: 10px;

            .details {
                h1 {
                    font-size: 18px;
                }
                
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .featuredClubsBars .featuredClubsBars-section .featuredClubsBars-content {
        .left .featuredClubsBars-details {
            justify-content: center;
            margin-top: -50px;
            .details {
                margin-bottom: 30px;
                p {
                    display: none;
                }
            }
        }

        .right {
            .featuredClubsBars-content1 {
                height: 200px;

                .featuredClubsBars-image {
                    width: 100%;
                }

                .details {
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .featuredClubsBars .featuredClubsBars-section .featuredClubsBars-content {
        .left .featuredClubsBars-details {
            .details {
                margin-bottom: 0px;
                h1 {
                    font-size: 18px;
                }
            }
        }

        .right {
            .featuredClubsBars-content1 {
                flex-direction: column;
                height: 250px;



                .featuredClubsBars-image {
                    width: 100%;
                    height: 200px;
                }

                .details {
                    width: 100%;
                    justify-content: center;
                    text-align: center;
                    h1 {
                        margin-top: -30px;
                    }
                }
            }
        }
    }
}