.tournamentevents {
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    // padding-bottom: 100px;
    // background: #222222;

    .tournamentevents-section {
        position: relative;
        // background-color: #f9f9f9;
        text-align: center;
        align-items: center;

        .tournamentevents-header {

            .header-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                gap: 20px;

                h2 {
                    font-size: 24px;
                    font-weight: 800;
                    color: black;
                }

                .arrow-div {
                    display: flex;
                    align-items: center;
                    gap: 25px;

                    h4 {
                        margin-right: -20px;
                        padding: 4px 20px;
                        clip-path: polygon(10px 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
                        cursor: pointer;
                    }

                    h4.active {
                        color: #fe6b00;
                        background-color: #eaeaea;
                    }

                    h4:hover {
                        background-color: #eaeaea;
                        border-radius: 5px;
                    }

                    .prev-arrow2 {
                        background-color: #fe6b00;
                        color: white;
                        border: none;
                        padding: 2px 15px;
                        // border-radius: 50%;
                        cursor: pointer;
                        font-size: 18px;
                        clip-path: polygon(10px 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
                        margin-right: -30px;
                        border-radius: 5px;
                    }

                    .next-arrow2 {
                        background-color: #fe6b00;
                        color: white;
                        border: none;
                        padding: 2px 15px;
                        // border-radius: 50%;
                        cursor: pointer;
                        font-size: 18px;
                        clip-path: polygon(10px 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
                        border-radius: 5px;
                    }

                    .prev-arrow1:hover, .next-arrow1:hover {
                        background-color: #ddcc92;
                        color: black;
                    }
                }
            }

            // hr {
            //     background: black;
            //     height: 2px;
            //     border: none;
            // }

            .stick {
                margin-top: -80px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 150px;
                width: 100%;
                padding-left: 30px;
                padding-right: 30px;
                pointer-events: none;
            }

        }

        .tournamentevents-grid {
            // margin-top: 50px;
            align-items: center;
            justify-content: center;
            justify-items: center;
            text-align: center;
            // display: block;
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 20px;
            height: auto;
            padding: 2px;
            // padding-bottom: 20px;

            .swiper-pagination {
                margin-bottom: 0px;
            }
            
            .swiper-pagination-bullet {
                background-color: #ddd;
                opacity: 1;
            }
            
            .swiper-pagination-bullet-active {
                background-color: #fe6b00;
            }
    
            .tournamentevents-card {
                background: white;
                // border: 1px solid #ddd;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                // border-radius: 5px;
                // padding: 15px;
                text-align: center;
                position: relative;
                width: auto;
                height: auto;
    
                .tournamentevents-badges {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
    
                    .badge {
                        padding: 5px 10px;
                        color: white;
                        border-radius: 3px;
                        font-size: 12px;
                    }
                    
                    .badge.sale {
                        background: red;
                    }
                    
                    .badge.new {
                        background: blue;
                    }
                    
                    .badge.hot {
                        background: purple;
                    }
                }
                
                .tournamentevents-image {
                    width: 100%;
                    height: 100%;
                    background: #ddd;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    margin-bottom: 10px;
                    position: relative;

                    svg {
                        position: absolute;
                        top: 4px;
                        right: 4px;
                        background: #e0e0e0; 
                        color: #222222;
                        cursor: pointer;
                    }

                    svg:hover {
                        background: #ddcc92;
                        color: white;
                    }
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                
                .tournamentevents-details {
                    display: block;
                    justify-content: space-between;
                    text-align: left;
                    padding: 15px;
    
                    .top {
                        display: flex;
                        justify-content: space-between;
                        // gap: 10px;
                        // padding: 0px 10px 0px ;
    
                        .left {
                            text-align: left;
                            position: relative;
                            
                            h3 {
                                position: absolute;
                                top: -40px;
                                left: -15px;
                                width: 300px;
                                background: white;
                                color: #fe6b00;
                                padding: 10px 15px 0px 15px;
                                clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 100%, 0% 100%)
                            }
    
                            p {
                                padding-top: 10px;
                            }
                        }
        
                        .right {
                            // position: relative;
                            // display: block;
                            // justify-content: flex-end;
                            text-align: right;
                            margin-top: -20px;
        
                            .price {
                                margin-top: 10px;
                                font-size: 18px;
                                font-weight: bold;
                                color: #fe6b00;
                            }
    
                            .dateNTime {
                                margin-top: 10px;
                            }

                            button {
                                // position: absolute;
                                // bottom: 0;
                                // right: 0;
                                display: block;
                                justify-content: flex-end;
                                width: 150px;
                                padding: 10px 5px 10px;
                                background: #fe6b00;
                                color: white;
                                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                                border: none;
                                font-weight: 700;
                                font-size: 15px;
                                cursor: pointer;
                                margin-top: 10px;
                                border-radius: 5px;
                            }
        
                            button:hover {
                                background: #ddcc92;
                                box-shadow: none;
                                color: black;
                            }
                        }
                    }               
                }
            }
        }
    }
}